
@font-face {
    font-family: 'eb_garamondregular';
    src: url('ebgaramond-variablefont_wght-webfont.woff2') format('woff2'),
         url('ebgaramond-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, .body{
    font-family: 'eb_garamondregular', serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.navbar {
    background-color: #F8B200;
    width: 100%;
}

.img-logo {
    width: 68px;
}

.breadcrumb-link{
    color: #421F06;
    text-decoration:none;
}

.breadcrumb-link:hover{
    font-weight: bold;
    color: #421F06;
    text-decoration: none;
}

h1, a {
    font-family: 'eb_garamondregular', serif;
    color: #421F06;
    padding: 10px;
}

.jumbotron{
    background-image: url(../Images/dark-honey.jpeg);
    background-size: contain;
}

.thead{
    background-color: #F8B200;
}

footer {
    background-color: #F8B200;
}
 .text-hover:hover{
     font-weight: bold;
     text-decoration: none;
 }

 .line{
    width: 100%;
    height: 1%;
    margin-bottom: 8px;
    background-color: #421F06;
 }

 .svg-hover:hover{
     width: 36px;
 }