
@font-face {
    font-family: 'eb_garamondregular';
    src: url('ebgaramond-variablefont_wght-webfont.woff2') format('woff2'),
         url('ebgaramond-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, .body{
    font-family: 'eb_garamondregular', serif;
    background-image: url("../Images/Background\ honey.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.navbar {
    background-color: #F8B200;
    width: 100%;
}

.img-logo {
    width: 68px;
}

.breadcrumb-link{
    color: #421F06;
    text-decoration:none;
}

.breadcrumb-link:hover{
    font-weight: bold;
    color: #421F06;
    text-decoration: none;
}

h1, a {
    font-family: 'eb_garamondregular', serif;
    color: #421F06;
    padding: 10px;
}

.card-title {
    font-weight: bold;
}

.formulaire{
    background-color: lightgray;
}

.pagination > li > a
{
    color: #000;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #000;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #F8B200 !Important;
    border: solid 1px #F8B200 !Important;
}

.pagination > .active > a:hover
{
    background-color: #F8B200 !Important;
    border: solid 1px #F8B200;
}


footer {
    background-color: #F8B200;
}
 .text-hover:hover{
     font-weight: bold;
     text-decoration: none;
 }

 .line{
    width: 100%;
    height: 1%;
    margin-bottom: 8px;
    background-color: #421F06;
 }

 .svg-hover:hover{
     width: 36px;
 }